body{
    font-family: Oswald-Light;
}

.expanded{
    background: url(../img/IMG-20151016-WA032.jpg) no-repeat;
    background-size: 100% 160%;
    height: 100%;
/*    opacity: 0.7;*/
}


span{
    color: #fff;
    margin-top: 20%;
    text-align: center;
    font-size: 5em;
    font-style: italic;
}


.bounceInRight{
    font-size: 2em;
    font-style: italic;
    color: #fff;
}


.logo .thumbnail{
    box-shadow: 0 0 0 0;
    border: none;
}

.logo{
    margin-top: 30%;
    margin-left: 5%;
}




/* skill section*/



#resumeProficiencies {
	float: left;
	clear: right;
	width: 500px;
	margin: 20px 0px 30px 30px;
}

#resumeProficienciesTop {
	float: left;
	clear: right;
	width: 100%;
	margin: -5px 0px 0px 0px;
	text-align: left;
	font-weight: 600;
}

#resumeProficienciesBottom {
	float: left;
	clear: right;
	width: 80%;
	margin: 2px 0px 0px 0px;
}

.progress {
	background:#e9e5e2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#e9e5e2));
	background-image: -webkit-linear-gradient(top, #dddddd, #e9e5e2);
	background-image: -moz-linear-gradient(top, #dddddd, #e9e5e2);
	background-image: -ms-linear-gradient(top, #dddddd, #e9e5e2);
	background-image: -o-linear-gradient(top, #dddddd, #e9e5e2);
	background-image: linear-gradient(top, #dddddd, #e9e5e2);  
	height:20px; 
	border-radius: 0px;
	-moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
	-webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
	box-shadow: 0 1px 0px #bbbbbb inset, 0 1px 0 #fcfcfc;	  
}

.adobe, .html, .css, .jquery, .javascript, .bootstrap, .wordpress, .ui, .ux, .rwd, .mobile, .rapidproto {

 -webkit-transition: width 4.50s ease !important;
 -moz-transition: width 4.50s ease !important;
   -o-transition: width 4.50s ease !important;
      transition: width 4.50s ease !important;
 }
.large-collapse{
    padding-top: 2%;
}

.row{
    max-width: none;
}

.large-collapse .activities{
    border-left: 1px solid;
    padding-left: 5%;
}

.large-collapse .about{
    padding-left: 5%;
}


.footer {
  background-color: #292c2f;
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem; }
  .footer p.slogan {
    color: #8d9093;
    font-size: 1.8rem;
    margin: 0 0 1rem; }
  .footer p.copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 0; }
  .footer .links a {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 3rem 0 2rem;
    margin: 0; }
    .footer .links a::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem; }
    .footer .links a:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem; }
